//mobile version
img.about-img {
    padding: 1em;
    width: 360px;
    margin-left: 5px;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-section__about {
    margin: 0px 0px 0px 10px;
}

.about-interest__header {
    display:flex;
    h2 {
        padding-left: 1.5em;
    }
}

img.moon-img {
    width: 150px;
}

img.craft-img {
    width: 150px;
}

img.cake-img {
    width: 150px;
}

img.travel-img {
    width: 150px;
}

img.resume-img {
    margin-top: -130px;
    width: 150px;
}

img.unicorn-img {
    display: none;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
  }

.about-section__interests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about-interest {
    width: 160px;
}
.icon {
    margin-right: 10px;  
}

a:hover {
    color: $hotpink;
    transition: 250ms;
}
a {
    color: $pink;
}

.media-btn {
    display: flex;
    justify-content: flex-end;
}

svg{
    width: 45px;
    height: 45px;
}

h3 {
    margin-right: 15px;
}


//media query
@media only screen and (min-width:576px){
    img.about-img {
        width: 600px;
        margin-left: 5px;
    }
    
.about-section__text {
    max-width: 35em;
    padding-left: 1em;
}

    .about {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutpicture {
    display: flex;
    justify-content: center;
    }

    .about-section__about {
        margin-top: 20px;
    }

    .about-interest__header {
        display:flex;
        justify-content: center;
        h2 {
            padding-left: .25em;
        }
    }

    img.unicorn-img {
        margin-right: 15px;
        display: block;
        
    }
    
    img.moon-img {
        width: 250px;
    }
    
    img.craft-img {
        width: 250px;
    }
    
    img.cake-img {
        width: 250px;
    }
    
    img.travel-img {
        width: 250px;
    }
    
    img.resume-img {
        margin-top: -250px;
        margin-left: 1.5em;
        width: 200px;
        
    }
    @-webkit-keyframes rotating /* Safari and Chrome */ {
        from {
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes rotating {
        from {
          -ms-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -ms-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      .rotating {
        -webkit-animation: rotating 20s linear infinite;
        -moz-animation: rotating 20s linear infinite;
        -ms-animation: rotating 20s linear infinite;
        -o-animation: rotating 20s linear infinite;
        animation: rotating 20s linear infinite;
      }
    
    .about-section__interests {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2em;
    }
   
    .icon {
        margin-right: 10px;  
        margin-top: 25px;
    }
    
    a:hover {
        color: $hotpink;
        transition: 250ms;
    }
    a {
        color: $pink;
    }
    
    .media-btn {
        display: flex;
        justify-content: center;
        margin-top: -90px;
        h3 {
            font-size: 80px;
        }

    }
    
    svg{
        width: 45px;
        height: 45px;
    }

    .moon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cake {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .travel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .craft {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        h5 {
            font-size: medium;
        }

    }

    .media-btn {
        padding-top: 3em;
    }
}