
@import "./_colors.scss";
@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Manrope:wght@600&family=Titillium+Web:wght@200;900&display=swap');
@import "./navbar.scss";
@import "./description.scss";
@import "./work.scss";
@import "./about.scss";
@import "./buttons.scss";

//Main Stying ===================
body {
    font-family: 'Manrope', sans-serif;
}

h1,
h2 {
    font-family: 'Shrikhand', sans-serif;
}

h3 { font-family: 'Shrikhand', sans-serif;
    font-size: 45px;

}
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}