// Morgan Massey's Portfolio
$white: #FFFFFF;
$lightpink: #FFFAFA; 
$yellow: #FDE5BD;
$blue: #92C4EA;
$pink: #EFA2AA;
$hotpink: #FF5372;
$grey: #383838;
$black: #191919; 
// *************************

@import "./_colors.scss";
@import "./navbar.scss";
@import "./description.scss";
@import "bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Titillium+Web:wght@200;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Manrope:wght@600&family=Titillium+Web:wght@200;900&display=swap');

//Main Stying ===================
body {
    font-family: 'Manrope', sans-serif;
}

h1,
h2 {
    font-family: 'Shrikhand', cursive;
}

h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}