//mobile version
.description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.description_text{
    max-width: 637px;
}

.description-section__about {
    margin: 50px 0px 0px 10px;
}

img.profile-img {
    width: 360px;
    padding: 1em;
}

.description__icon {
    margin-right: 10px;
    
    a {
        color: $hotpink;
    }
    a:hover {
        color: $yellow;
        transition: 250ms;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
}


//media query for description
@media only screen and (min-width:576px){
    .description {
        display: flex;
        flex-direction: column;
        background: linear-gradient(#FFFFFF 50%, $lightpink 50%);
        height: 100vh;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 2em;
    }
    
    .description_text{
        max-width: 637px;
    }
    
    .description-section__about {
        margin: 50px 0px 0px 10px;
    }
    
    img.profile-img {
        width: 600px;
    }
    
    .description__icon {
        margin-right: 10px;
        
        a {
            color: $hotpink;
        }
        a:hover {
            color: $yellow;
            transition: 250ms;
        }
    }
    
    .icon-container {
        display: flex;
        justify-content: center;
    }
}