//mobile version
.description {
    display: flex;
    flex-direction: row;
    // background: linear-gradient(#FFFFFF 60%, #EFA2AA 40%);
    // height: 100vh;
    flex-wrap: wrap;
}

.description_text{
    max-width: 637px;
}

.description-section__about {
    margin: 50px 0px 0px 10px;
}

img.profile-img {
    width: 320px;
    height: 320px;
}

.description__icon {
    margin-right: 10px;
    
    a {
        color: $hotpink;
    }
    a:hover {
        color: $yellow;
        transition: 250ms;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
}

img.unicorn-img {
    height: 150px;
    width: 150px;
}

.unicorn {
    margin-top: -40px;
display: flex;
justify-content: space-around;
}