//mobile version
.description {
    display: flex;
    flex-direction: column;
    background: linear-gradient($white, $pink);
    height: 100vh;
}

.description-section__about {
    margin: 50px 0px 0px 10px;
}

img.profile-img {
    width: 350px;
    height: 350px;
    margin-left: 5px;
}