.justify-content-end {
  background-color: $hotpink;
  font-size: large;
  color: $white;
  font-family: 'Shrikhand', cursive;
}

@media only screen and (min-width:361px){
  .justify-content-end {
    background-color: $hotpink;
    font-size: xx-large;
    color: $white;
    font-family: 'Shrikhand', cursive;
  }
} 