img.c51-img {
    width: 200px;
    height: 200px;
}

img.moodmoons-img {
    width: 200px;
    height: 200px;
}

.work {
    display: flex;
    flex-direction: row;
}

.work-section__c51 {
    padding: 100px 100px 100px 300px;
}

.work-section__moodmoons {
    padding: 100px 300px 100px 100px;
}