//mobile version
.work-section__c51 {
    padding: 2em 2em 0em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
     h5 {
        max-width: 35em;
        padding-left: 1em;
    }

}

img.c51 {
        width: 300px;
        padding: 2em;
    }

.work-section__moodmoons {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
     h5 {
        max-width: 35em;
        padding-left: 1em;
    }
}

 img.moodmoons {
    width: 300px;
    padding: 2em;
}

img.sparkdiv-img {
    width: 360px;
    padding-top: 32px;
}

 @media only screen and (min-width:576px) {
    .work-section__c51 {
        padding: 2em 2em 0em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
         h5 {
            max-width: 35em;
            padding-left: 1em;
        }
    
    }
    
    img.c51 {
         width: 600px;
         padding: 2em;
     }
    .work-section__moodmoons {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
         h5 {
            max-width: 35em;
            padding-left: 1em;
        }
    }

     img.moodmoons {
         width: 600px;
         padding: 2em;
     }

     img.sparkdiv-img {
        width: 700px;
        padding-top: 0px;
    }
 }