//mobile version
img.c51-img {
    width: 200px;
    height: 200px;
}

img.moodmoons-img {
    width: 200px;
    height: 200px;
}

.work-section__c51 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
        margin-left: 10px;
    }
}

.work-section__moodmoons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
     h5 {
        margin-left: 10px;
    }
}